* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

#container {
    background: url("./img/background.jpeg");
    padding-bottom: 140px;
}

#button-enter {
    background: #e50914;
    font-size: 16px;
    padding: 8px 18px;
    border: 0;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

#button-enter:hover {
    opacity: 0.8;
}

#header {
    padding: 28px 56px;
}

h1 {
    text-align: center;
    font-size: 50px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}

#paragraph-watch {
    font-size: 26px;
    text-align: center;
    margin-top: 14px;
}

#paragraph-ready {
    font-size: 20px;
    text-align: center;
    margin-top: 28px;
}

input {
    width: 500px;
    padding-left: 10px;
}

#button-email {
    width: 170px;
    background-color: #e50914;
    border: 0;
    font-size: 24px;
    cursor: pointer;
}

#button-email:hover {
    color: black;
    opacity: 0.8;
}

#form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 60px;
}

#baseboard {
    background: black;
    border-top: 10px solid #303030;
    padding: 100px 0;
}

h2 {
    font-size: 50px;
    text-align: center;
}

#button-question {
    width: 800px;
    background-color: #303030;
    height: 70px;
    border: 0;
    font-size: 24px;
    margin-top: 40px;
    text-align: left;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

#image-question {
    float: right;
    margin-top: 8px;
    transform: rotate(45deg);
}

#image-question-spin {
    float: right;
    margin-top: 8px;
    transform: rotate(90deg);
}

#question {
    width: 800px;
    background-color: #303030;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    padding: 24px;
    display: none;
}

.paragraph-question {
    font-size: 24px;
}